.MovieInfo{
    position: relative;
}
.backdrop{
    width: 1280px;
    height: 720px;
}
.backGradient{
    height: 720px;
    width: 1280px;
    background-image: linear-gradient(to bottom, rgba(80, 120, 162, 0.7), rgb(80, 120, 162, 1));
    position:absolute;
    top:0;
}
.details{
    display: flex;
    column-gap: 30px;
    padding: 15px;
    font-size: 1em;

}
.movieTitle{
    font-size: 3em;
    font-weight: bold;
    color: white;
    margin-bottom: 2px;
}

.originalTitle{
    font-size: 1em;
    color: white;
    margin-bottom: 20px;
}
.Companies{
    padding: 10px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.TextInfo{
    color: yellow;
}
.TextInfo div{
    padding-bottom: 10px;
}

.badges{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.Overview{
    padding: 0 20px 40px 20px;
}