.Filter{
    background-color: rgba(255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80px;
    position: fixed;
    top:80px;
    z-index: 1;
}

.genres{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 1285px;
    height: 80px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 1.2em;
    justify-content: center;
    column-gap: 15px;
    row-gap: 10px;
    background-color: rgb(255, 255, 0);
}
.fakeBox{
    height:90px;
}
.genres li{
    box-sizing: border-box;
    align-items: center;
    padding: 5px 5px;
    color: darkblue;
    font-weight: bold;
    /*background-color: rgba(14, 82, 150, 0.58);*/
    /*color: rgb(255, 255, 17);*/
    /*border-radius: 15px;*/
}