.Header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 1285px;
    width: 100%;
    height: 80px;
    padding: 5px 15px;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 13, 253, 0.71);
    color: #f8f855;
}
.fakeBox{
    height: 60px;
}
.input{
    width: 600px;
    height: 30px;
    border:none;
    font-size: 1.3em;
    border-radius: 15px;
    padding: 0 15px;
    color: #90bce8;
}
.input:focus{
    outline: none;
    background-color: #c8e1fa;
    color: #13133b;
}