.HeaderLayout{
    width: 100%;
    height: 80px;
    background-color: rgb(0, 13, 253);
    position: sticky;
    z-index: 10;
    top:0;
    left:0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 1280px;
    width: 100%;
    height: 80px;
    padding: 5px 15px;


    background-color: rgb(0, 13, 253);
    color: #f8f855;
}
.leftHeader{
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;

}
.input{
    width: 600px;
    height: 40px;
    border:none;
    font-size: 1.3em;
    border-radius: 5px 0 0 5px;
    padding: 0 15px;
    color: #90bce8;
    box-sizing: border-box;
}
.input:focus{
    outline: none;
    background-color: #c8e1fa;
    color: #13133b;
}
button{
    height: 40px;
    background-color: #fcfc73;
    border-radius: 0 5px 5px 0;
    border: none;
}
button:hover{
    cursor: pointer;
    background-color: #f3f345;
}
.userIconAndLang{
    display: flex;
    column-gap:5px;
    align-items: center;
}
.yellowStrip{
    height: 10px;
    width: 100%;
    background-color: yellow;
}
.logo img{
    height: 40px;
}
