.HeaderLayout{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 13, 253, 0.71);
    position: fixed;
    z-index: 1;
    top:0;
    left:0;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.Header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    max-width: 1285px;
    width: 100%;
    height: 80px;
    padding: 5px 15px;


    background-color: rgba(0, 13, 253, 0.71);
    color: #f8f855;
}
.fakeBox{
    height: 80px;
}

.searchForm{
    display: flex;
    align-items: center;
    justify-content: center;

}
.input{
    width: 600px;
    height: 30px;
    border:none;
    font-size: 1.3em;
    border-radius: 5px 0 0 5px;
    padding: 0 15px;
    color: #90bce8;
    box-sizing: border-box;
}
.input:focus{
    outline: none;
    background-color: #c8e1fa;
    color: #13133b;
}
button{
    height: 30px;
    background-color: #fcfc73;
    border-radius: 0 5px 5px 0;
    border: none;
}
button:hover{
    cursor: pointer;
    background-color: #f3f345;
}