.MovieCard{
    position: relative;
    height: 515px;
    width: 300px;
    border: solid 4px #f8f855;
    transition: border,transform  0.2s ease-in-out;

}
.MovieCard:hover{
    border: solid 4px #1b35e1;
    transform: scale(102%);
}

.MovieCard a{
    text-decoration: none;
}

.info{
    font-size: 1.2em;
    font-weight: bold;
    color:darkblue;

    background: rgb(255, 255, 123);

    width: 100%;
    height: 65px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.genre {
    position: absolute;
    top: 10px;
    left: 10px;
}
.year{
    position: absolute;
    top: 10px;
    right: 10px;
}
.StarsRating{
    position: absolute;
    top: 425px;
    left: 10px;
}